.key {
  width: $key-side-size;
  height: $key-side-size;
  border: 1px solid $darkgray;
  background-color: $white;
  border-radius: 5px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  padding: $padding;
  overflow: hidden;

  &:hover {
    background-color: $lightgray;
  }

  &:active {
    background-color: darken($lightgray, 10%);
  }

  &--expand {
    flex-grow: 1;
  }

  &--ctrl {
    width: 85px;
  }

  &--word {
    font-size: $key-text-size;
  }

  &--word-left {
    align-items: flex-end;
    justify-content: flex-start;
    font-size: $key-text-size;
  }

  &--word-right {
    align-items: flex-end;
    justify-content: flex-end;
    font-size: $key-text-size;
  }
}