.row {
  display: flex;
  gap: $keys-gap;
}

.row:first-child > .key:first-child {
  border-top-left-radius: $corner-button-radius;
}

.row:first-child > .key:last-child {
  border-top-right-radius: $corner-button-radius;
}

.row:last-child > .key:first-child {
  border-bottom-left-radius: $corner-button-radius;
}

.row:last-child > .key:last-child {
  border-bottom-right-radius: $corner-button-radius;
}