@font-face {
  font-family: "Roboto Flex";
  src: url("@assets/fonts/roboto-flex.woff2") format("woff2"),
  url("@assets/fonts/roboto-flex.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}