$darkgray: #a6a6a8;
$gray: #eeeff1;
$lightgray: #eaeaea;
$white: #ffffff;
$corner-button-radius: 30px;
$keys-gap: 6px;
$key-side-size: 68px;
$key-text-size: 16px;
$padding: 12px;
$blind-height: 50px;